body { background: #b4106b; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 56px; display: flex; }
.block-payment-0 { color: #48da23; font-size: 21px; margin-bottom: 5px; }
.block-logger-1 { color: #3be6a9; font-size: 19px; margin-bottom: 5px; }
.block-session-2 { color: #c8123; font-size: 21px; margin-bottom: 5px; }
.block-notify-3 { color: #71cb5e; font-size: 19px; margin-bottom: 5px; }
.block-router-4 { color: #bd81cb; font-size: 19px; margin-bottom: 5px; }